.link-recipe:hover {
  text-decoration: none;
}

.background-element {
  background-image: url("../../img/food2.jpg");
  background-position: center;
  background-size: cover;
  height: 470px;

  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-form {
  background-color: rgba(51, 51, 51, 0.5);
  height: 170px;
  padding: 50px 0;
  form {
    background-color: #fff;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    input {
      font-size: 1.25rem;
      height: 70px !important;
      margin: 0 !important;
      border-bottom: 0px transparent !important;
      padding: 0 0.75em !important;
      color: black;
    }
    button {
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 6px;
      margin: 0;
      top: 0.3125rem;
      right: 0.3125rem;
      background-color: #ee6e73;
      padding: 0;
      border-color: transparent;
      svg {
        width: 25px;
        height: 25px;
        color: white;
      }
    }
  }
}

.waves-light i {
  background-color: #ee6e73 !important;
}

.container-all-recipes {
  column-count: 4;
  column-gap: 0;
  counter-reset: item-counter;
  .col-12 {
    break-inside: avoid;
    .card {
      margin: 0 0 1em;
    }
  }
}

@media screen and (max-width: 576px) {
  .container-all-recipes {
    column-count: 1;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .container-all-recipes {
    column-count: 2;
  }
}
