.image-each-recipe {
    width: 100%;
}

.title-ingredients {
    position: relative;
    &::before, &::after {
        position: absolute;
    z-index: 1;
    top: 0;
    font-size: 1.8rem;
    line-height: 11px;
    margin-left: .55rem;
    padding-bottom: 1em;
    font-family: Arial,Helvetica,sans serif;
    letter-spacing: .08em;
    content: '......................................................................................................................................................';
    display: inline-block;
    height: 2.2rem;
    background-color: transparent;
    left: 0;
    width: 35%;
    overflow: hidden;
    }
    &::after {
        text-align: right;
    left: auto;
    right: 0;
    z-index: 2;
    }
}

  ul.browser-default li {
    list-style-type: circle;
  }